<!DOCTYPE html>
<html>
<head>
  <title>Health Check</title>
  <%# <%= csrf_meta_tags %>
  <%# <%= csp_meta_tag   // commented out for Rails 4  compatability%>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <%= yield %>
</body>
</html>